.header__edit{
	display: flex;
	flex-direction: column-reverse;
	margin-top: 38px;
}

.header__edit__div {
	position: absolute;
	top: 0; left: 0;
    width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 5px;
	color: #fff;
	background-color: #000;
	padding: 20px 0;	
}

.edit__text{
	font-family: 'Work Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.nav__logout{
	display: none;
}

.edit__section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
}

.edit__btn{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	height: 30px;
	background: none;
	border: none;
}

.edit__btn__text{
	font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
	display: flex;	
}

.modal__box, .upload__form{
    position: absolute;
	top: 69%;
	left: 32%;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    width: 630px;
    height: 688px;
	display: none;	
}

.modal__box__exit__icon{
	display: flex;
	justify-content: flex-end;
	margin: 26px 30px;
	font-size: 24px;
}

.modal__box__title, .upload__form__title{
    display: flex;
	justify-content: center;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 45px;
}

.modal__box__img__container{
	display: flex;
    flex-wrap: wrap;
	justify-content: flex-start;
	gap: 6px;
	margin: 0 105px 0 105px;
	padding-bottom: 40px;
	border-bottom: 2px solid #B3B3B3;
}

.modal__box__img__span{
	display: flex;
	justify-content: flex-end;
	
}

.modal__box__img {
	width: 78px;
	height: 104px;	
	padding-bottom: 18px;
}

.modal__box__img__icons{
	position: absolute;
}

.modal__box__delete__btn{
	position: absolute;
	margin-top: 5px;
	margin-right: 5px;
	width: 20px;
	height: 21px;
	background-color: #000;
	border: none;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#modal__box__img__delete__icon{
	color: #fff;
	position: absolute;
	font-size: x-small;
}


.modal__box__add__btn{
	border: 1px solid #1D6154;
	border-radius: 20px;
	background-color: #1D6154;
	color: #fff;
	padding: 10px 49px;
	margin: 25px 200px;
}

.upload__form__icons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 24px;
	margin-top: 26px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.upload__form__content{
	margin: 0 105px 30px 105px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.upload__form__box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 3px solid #E8F1F6;
	background: #E8F1F6;
	height: 169px;
	margin-bottom: 30px;
	box-sizing: border-box;
}

.upload__form__img__icon{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 76px;
	margin-bottom: 6px;
}

.upload__form__box__preview{
	display: flex;
	justify-content: center;
}

.upload__form__preview__img{
	height: 169px;
	width: 129px;
	object-fit: cover;
}

.upload__form__btn{
	display: flex;
	justify-content: center;
	margin-bottom: 7px;
}

#upload__form__add__btn{
	border: 1px solid #CBD6DC;
	border-radius: 20px;
	background-color: #CBD6DC;
	color: #306685;
	padding: 10px 33px;	
}

#upload{
	display: none;
}

.upload__form__text{
	display: flex;
	justify-content: center;
	font-size: 10px;
	font-weight: 400;
}

.upload__form__form{
	display: flex;
	flex-direction: column;
}

.upload__form__form label{
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	color: #3D3D3D;
	margin-bottom: 10px;
}

.upload__form__form input{
	height: 51px;
	margin-bottom: 51px;
	border: none;
	background: #fff;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
}

.upload__form__form input:hover{
	border: 1px solid #CBD6DC;
}

.upload__form__form select{
	height: 51px;
	margin-bottom: 51px;
	border: none;
	background: #fff;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05); 
}

.upload__form__form select:hover{
	border: 1px solid #CBD6DC;
}

.upload__form__btn__span{
	display: flex;
    justify-content: center;
}

.upload__form__submit__btn{
	display: flex;
	justify-content: center;
	border: none;
	background: #A7A7A7;
	border-radius: 60px;
	padding: 10px 80px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	font-family: Syne;
	cursor: pointer;
}